/* Curved line animation */
.curved-line {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: drawLine 1.5s ease-in forwards;
  animation-delay: 1s;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/* Star animations */
.star-wrapper {
  opacity: 0;
  transform: translate(251px, 17px);
  animation: moveAlongPath 2s ease-in-out forwards;
  animation-delay: 2.5s;
}

.star {
  transform: scale(0.8) translate(-7px, -17px);
}

@keyframes moveAlongPath {
  0% {
    opacity: 1;
    transform: translate(251px, 17px);
  }
  100% {
    opacity: 1;
    transform: translate(7px, 17px);
  }
}
