@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefaf6;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Aeonik;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'PolySans';
  src: url('fonts/PolySans.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik/Aeonik-Air.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik/Aeonik-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik/Aeonik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik/Aeonik-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Aeonik/Aeonik-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}